nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/* Contact Us */
@import url('http://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.contact
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('Images/contactusBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contactBG
{
  background-image: url('Images/contactusBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contact .content
{
  max-width: 800px;
  text-align: center;
}
.contact .content h2
{
  font-size: 36px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.contact .content p
{
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo
{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box
{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .text
{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color:black;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box h3
{
  font-weight: 500;
  color: #00bcd4;
}
.contactForm
{
  width: 30%;
  padding: 40px;
  background: rgb(255, 141, 236)
}
.contactForm h2
{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox
{
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.contactForm .inputBox input
.contactForm .inputBox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span
{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 20px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span
{
  color: #391e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #ff8de3;
  color: white;
}
